sudo: required
language: java
services:
  - docker
  - postgresql
  - mysql
before_install:
  - ./build/setup_postgres.sh
  - ./build/setup_mysql.sh
  - ./build/setup_oracle.sh
cache:
  directories:
    - $HOME/.m2